<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Funcionário</title>
    <!-- Importando o Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Importando o Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Barra de Navegação -->
    {% include 'for_all/navbar.html' %}
    <!-- Formulário para buscar funcionário -->
    <div class="container">
        <div class="card" id="card_2">
            <h2 class="center-align">Buscar Funcionário</h2>
            <form action="{{ url_for('buscar') }}" method="POST">
                <input type="text" name="cpf" placeholder="CPF" required>
                <div class="row">
                    <div class="col s6">
                        <button type="submit" class="btn">Buscar</button>
                    </div>
                    <div class="col s6 right-align">
                        <a href="/" class="btn waves-effect waves-light">Voltar</a>
                    </div>
                </div>
            </form>
            {% if funcionario %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{funcionario['Nome']}}</span>
                        <p>CPF: {{funcionario['CPF']}}</p>
                        <p>Nascimento: {{funcionario['Nascimento']}}</p>
                        <p>Cargo: {{"Sem Cargo" if funcionario['Cargo'] == None else funcionario['Cargo']}}</p>
                        <p>Admissão: {{funcionario['Admissao']}}</p>
                    </div>
                </div>
            {% elif errou %}
                <p class="red-text">{{errou}}</p>
            {% endif %}
        </div>
    </div>
    <!-- Rodapé -->
    {% include 'for_all/footer.html' %}
    <!-- Importando o JavaScript do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function(){
          $('input[name="cpf"]').mask('000.000.000-00');
        });
    </script>
</body>
</html>