<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir Cargo</title>
    <!-- Importando o Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Importando o Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Barra de Navegação -->
    {% include 'for_all/navbar.html' %}
    <!-- Formulário para definir cargo -->
    <div class="container">
        <div class="card" id="card_2">
            <h2 class="center-align">Definir Cargo</h2>
            <form action="{{ url_for('definir_cargo') }}" method="POST">
                <input type="text" name="cpf" placeholder="CPF" required>
                <select name="cargo" required>
                    <option value="0">Caixa</option>
                    <option value="1">Gerente</option>
                    <option value="2">Faxineiro</option>
                    <option value="3">Vendedor</option>
                    <option value="4">Diretor</option>
                </select>
                <div class="row">
                    <div class="col s6">
                        <button type="submit" class="btn">Definir</button>
                    </div>
                    <div class="col s6 right-align">
                        <a href="/" class="btn waves-effect waves-light">Voltar</a>
                    </div>
                </div>
            </form>
            {% if mensagemP %}
                <p class="green-text">{{ mensagemP }}</p>
            {% elif mensagemN %}
                <p class="red-text">{{ mensagemN }}</p>
            {% endif %}
        </div>
    </div>
    <!-- Rodapé -->
    {% include 'for_all/footer.html' %}
    <!-- Importando o jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Importando o plugin jQuery Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!-- Importando o JavaScript do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function(){
            $('input[name="cpf"]').mask('000.000.000-00');
            $('select').formSelect();
        });
    </script>
</body>
</html>