<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Funcionários</title>
    <!-- Importando o Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Importando o Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Barra de Navegação -->
    {% include 'for_all/navbar.html' %}
    <!-- Exibindo os funcionários -->
    <div class="row">
        {% for funcionario in funcionarios %}
        {% if funcionario['Nome'] is not none and funcionario['Nome'] is string %}
        <div class="col s12 m2">
            <div class="card">
                <div class="card-image">
                    <img src="../static/img/fira.webp">
                    <span class="card-title" id="card-title2"><b>{{ funcionario['Nome'].split()[0] }} {{ funcionario['Nome'].split()[-1] }}</b></span>
                </div>
                <div class="card-content">
                    <p><b>Nome:</b> {{ funcionario['Nome'] }}</p>
                    <p><b>CPF:</b> {{ funcionario['CPF'] }}</p>
                    <p><b>Nascimento:</b> {{ funcionario['Nascimento'] }}</p>
                    <p><b>Admissão:</b> {{ funcionario['Admissao'] }}</p>
                    <p><b>Cargo:</b> 
                        {% if funcionario['Cargo'] is not none and funcionario['Cargo'] is string %}
                            {{ funcionario['Cargo'] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </p>
                    <p><b>Salário:</b>
                        {% if funcionario['Salario'] is not none and funcionario['Salario'] is number %}
                            R$ {{ "{:,.2f}".format(funcionario['Salario']) }}
                        {% else %}
                            N/A
                        {% endif %}
                    
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Rodapé -->
    {% include 'for_all/footer.html' %}
    <!-- Importando o JavaScript do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>